* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.main {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}
button {
    border: none;
    outline: none;
}
