.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 50px;
  padding-top: 30px;
}

.storeDescription table {
  padding-top: 5px;
}
.storeDescription td {
  padding: 5px;
  padding-left: 0;
}