.tableDescription table, .tableDescription {
  padding-top: 5px;
}
.tableDescription td {
  padding: 5px;
  padding-left: 0;
}
.table {
  border: 1px solid black;
  border-collapse: collapse;
}

.table thead {
  font-weight: 700;
}

.table td {
  border: 1px solid black;
  padding: 5px;
}